<html>
  <head>
    <title>IP Reputation Checker</title> <!--this deals with the title that appears in the top of the screen usually -->
  </head>
  <body>
    <p> <a href="/">Back to homepage</a> </p>
    <h1>IP Reputation Checker</h1>
    <form action="/iprep" method="POST"> <!--from here on, this is the data for the post-->
    <input type="text" name="ipAddress" placeholder="Enter IP address"><!--heres the actual data being input into the "post" for the underlying script -->
    <button type="submit">Check IP</button> <!--once the data is input, press the submit button, then end the form.-->
    </form>
  {% if results %} <!--this is how the results are formatted. "if results exist..."-->
    {% if results.error %} <!--if there is no valid API key assigned....-->
      <p> API key failure, double check the API key, and make sure it's up to date.</p>
    {% else %} <!--otherwise....-->
      <p>Abuse Score: {{ results.abuseScore }}</p>
      <p>Location: {{ results.country }}</p>
      <p>ISP: {{ results.isp }}</p>
      <p>Last reported at: {{ results.lastReport }}</p>
      <p>Total Reports: {{ results.totalReports }}</p>
      <p>Threat level: {{ results.overall }}</p>
      {% endif %}
  {% endif %} <!--then, end the if.-->
  </body>
</html>

